.forms {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.datePicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.bookingFormGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingFormGroup input {
  border: 1px solid var(--secondary-accent-colour);
  border-radius: 8px;
  padding: 1ex;
  width: 100%;
}

.groupsize {
  width: 10%;
}

@media (min-width: 768px) {
  .forms {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .bookingDetails {
    gap: 0.5rem;
    width: auto;
  }
}
